<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Wizard with Validation</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a>Config option 1</a>
            </li>
            <li><a>Config option 2</a>
            </li>
          </ul>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <h2>Validation Wizard Form</h2>
        <form id="form" action="" class="wizard-big" (ngSubmit)="onSubmit()">
          <div *ngIf="currentStep === 1">
            <h2>Account Information</h2>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label>Username *</label>
                  <input id="userName" name="name" type="text" class="form-control required" [(ngModel)]="user.user_name">
                </div>
                <div class="form-group">
                  <label>Company *</label>
                  <input id="password" name="password" type="text" class="form-control required" [(ngModel)]="user.company">
                </div>
                <div class="form-group">
                  <label>Position *</label>
                  <input id="confirm" name="confirm" type="text" class="form-control required" [(ngModel)]="user.company_position">
                </div>
                <div class="form-group drop-box">
                  <label for="file" class="glyphicon glyphicon-cloud-upload">
                    Load your foto
                    <input name="file"
                           type="file"
                           [ng-file-select]="options"
                           (onUpload)="handleUpload($event)">
                  </label>
                </div>
                <div class="form-group">
                  <img *ngIf="user.image" src="{{user.image}}" alt="Profile img" width="100px" height="100px">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="currentStep === 2">
            <h2>Profile Information</h2>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Phone *</label>
                  <input id="phone" name="phone" type="phone" class="form-control required"
                  [(ngModel)]="user.phone">
                </div>
                <div class="form-group">
                  <label>Company adress *</label>
                  <input id="company_adress" name="company_adress" type="text" class="form-control required"
                  [(ngModel)]="user.company_adress">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="currentStep === 3">
            <h2>Terms and Conditions</h2>
            <pre>{{ user | json }}</pre>
            <input id="acceptTerms" name="accept" type="checkbox" class="required" [(ngModel)]="accept">
            <label for="acceptTerms">I agree with the Terms and Conditions.</label>
          </div>
          <a class="btn btn-primary" (click)="goPrevious()" *ngIf="currentStep !== 1">Previous</a>
          <a class="btn btn-primary" (click)="goNext()" *ngIf="currentStep !== 3">Next</a>
          <button type="submit" class="btn btn-primary" *ngIf="currentStep === 3" [disabled]="!accept">Submit</button>
        </form>
      </div>
    </div>
  </div>
